<!-- <div class="biu-nav-email"
    style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);font-size: 16px;padding: 20px;background-image: linear-gradient(to right, #9646de 0%, #cb03e4 100%);border-radius: 5px;color: #fff;">
    <h3 style="margin-bottom: 40px;">
        Hi! 亲爱的知迹用户：
    </h3>
    <p style="padding-left: 20px;">
        您正在进行邮箱验证,本次请求的验证码为:
    </p>
    <p style="color: #dde2e2;padding-left: 14px;">
        <strong style="color: #3acbff;font-size: 24px;">
            <%= locals.code %>
        </strong>
        <span style="color: #ccc;">(为了保障您帐号的安全性,请在5分钟内完成验证,祝您生活愉快!)</span>
    </p>
    <p style="padding-left: 20px;">
        <span>快速访问:</span>
        <a href="https://www.xie392.com" style="color:#fff" target="_blank"
            rel="noopener noreferrer">https://www.xie392.com</a>
    </p>
    <p style="margin-top: 40px;text-align: right;">
        <%= locals.sign %>
    </p>
    <p style="text-align: right;">
        <%= locals.date %>
    </p>
</div> -->


<div class="main-content"
    style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);">
    <table style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse">
        <tbody>
            <tr style="font-weight:300">
                <td style="width:3%;max-width:30px;">
                </td>
                <td style="max-width:600px;">
                    <div id="cTMail-inner" style="background-color:#fff; padding:23px 0 20px;text-align:left;">
                        <table
                            style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse;text-align:left;">
                            <tbody>
                                <tr style="font-weight:300">
                                    <td style="width:3.2%;max-width:30px;">
                                    </td>
                                    <td style="max-width:480px;text-align:left;">
                                        <h1 id="cTMail-title"
                                            style="font-size: 20px; line-height: 36px; margin: 0px 0px 22px;">
                                            【知迹平台】欢迎注册知迹</h1>
                                        <!-- <p id="cTMail-userName"
                                            style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                            尊敬的知迹用户，您好！
                                        </p> -->
                                        <p class="cTMail-content"
                                            style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                            <span
                                                style="color: rgb(51, 51, 51); font-size: 14px;">您正在进行邮箱验证,您的验证码如下(非本人操作可忽略)：

                                        </p>
                                        <p class="cTMail-content"
                                            style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                            <span style="color: rgb(51, 51, 51); font-size: 14px;">
                                            </span>

                                        </p>
                                        <p class="cTMail-content"
                                            style="font-size: 14px; color: rgb(51, 51, 51); line-height: 24px; margin: 6px 0px 0px; word-wrap: break-word; word-break: break-all;">
                                            <!-- <a id="cTMail-btn" href="" title=""
                                                style="font-size: 16px; line-height: 45px; display: block; background-color: rgb(0, 164, 255); color: rgb(255, 255, 255); text-align: center; text-decoration: none; margin-top: 20px; border-radius: 3px;">
                                                点击此处验证邮箱
                                            </a> -->
                                        <p style="text-align: center; font-size: 36px; color:rgb(0, 164, 255);">
                                            <%= locals.code %>
                                        </p>
                                        </p>
                                        <p class="cTMail-content"
                                            style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                            <span style="color: rgb(51, 51, 51); font-size: 14px;">
                                                <br>
                                                <!-- 无法正常显示？请复制以下链接至浏览器打开： -->
                                                <%= locals.date %>
                                                    <br>
                                                    <!-- <a href="" title=""
                                                    style="color: rgb(0, 164, 255); text-decoration: none; word-break: break-all; overflow-wrap: normal; font-size: 14px;">
                                                    https://xie392.cn</a> -->
                                            </span>
                                        </p>
                                    </td>
                                    <td style="width:3.2%;max-width:30px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="cTMail-copy" style="text-align:center; font-size:12px; line-height:18px; color:#999">
                        <table style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse">
                            <tbody>
                                <tr style="font-weight:300">
                                    <td style="width:3.2%;max-width:30px;">
                                    </td>
                                    <td style="max-width:540px;">
                                        <p
                                            style="text-align:center; margin:20px auto 14px auto;font-size:12px;color:#999;">
                                            此为系统邮件，请勿回复。
                                            <!-- <a href=""
                                                style="text-decoration:none;word-break:break-all;word-wrap:normal; color: #333;"
                                                target="_blank">
                                                取消订阅</a> -->
                                        </p>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>